
*,
*::before,
*::after {
  box-sizing: border-box;
}

.ourLogo img {
    width:150px;
    height: 150px;
    align-items: left;
    margin-left: 70px;
    margin-top: 40px;
}

.myrow{
    display: flex;
    flex-wrap: wrap;

}


.piechart {
    margin-top: 0px;
    display: block;
    position: relative;
    top: 15%;
    left: 15%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: conic-gradient(
        green 70deg, 
        red 0 235deg, 
        yellow 0);
}

.myprogress{
    border: solid 1px black;
    border-radius: 5%;
    background-color: white;
}


#addButton{
    border-radius: 50%;
    border: 1px solid white;
    padding: 5% 30% 10% 30%;
    font-size: 200%;
}

.myrow {
    box-sizing: content-box;
    width: 100%;
}

.flex2{
   
    position: relative;
    top: 55%;
    right: 50%;
    font-size: 90%;
}

.myrow2{
    display: flex;
    
}